
.container_home{
    display: row;
    text-align: center;
}

.red_button {
    cursor: pointer;
    background-color: rgb(38, 0, 255);
    color: white;
    size: 5rem; 
    border-radius: 1rem;
    width: 30vw;
    height: 30vh;
    text-align: center;
    font-size: 5rem;
    border: none;

}

.non-underline {
    color:black;
    cursor: pointer;
    text-decoration: none;
        
}

a.non-underline {
    text-decoration: none;
    color: black;
        
}

