
.container_home{
    display: row;
    text-align: center;
}

.red_button {
    cursor: pointer;
    background-color: red;
    color: white;
    size: 5rem; 
    border-radius: 1rem;
    width: 30vw;
    height: 30vh;
    text-align: center;
    font-size: 5rem;
    border: none;
    

}