.container-center {
    display: flex;
    text-align: center;
    justify-content: center;
}
.container_home{
    display: row;
    text-align: center;
    justify-content: center;
    width:70vw;
    height :84vh;
    background:rgba(30, 30, 30, 0.97);
    border-radius: 1rem;
    color: white;
    padding: 3rem;
}



.red_button {
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: white;
    size: 5rem; 
    border-radius: 1rem;
    width: 30vw;
    height: 30vh;
    text-align: center;
    font-size: 5rem;
    border: none;
    margin:5rem;


}

.non-underline {
    color:white;
    cursor: pointer;
    text-decoration: none;
        
}

a.non-underline {
    text-decoration: none;
    color: white;
        
}

